@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales */
:root { --radius: 14px; }
html, body { height: 100%; }
body { background:#0a0a0a; color:#e5e5e5; -webkit-font-smoothing: antialiased; }
